body {
    background-color: black;
    color: white;
    background-image: url(assets/thor-hemsworth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

img {
    height: 300px;
    border: 3px solid white;
    border-radius: 30px;
}


h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 20px;
background-color: rgb(9, 9, 111);
color: red; 
}

footer p {

color: mediumblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
}

